* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    background-color: #D7B520;
}


#container {
    margin: 0 auto;
    display: grid;  
    border: 2px solid #ddd;
    width: 80vw;
    background-color: #fff;
    min-height: 100vw;
    grid-template-columns: 30fr 70fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas: 
    'header header'
    'aside section1'
    'aside section2'
    'aside section3'
    'footer footer';    
   
}

header {
    grid-area: header;    
    background: url(../img/headerpicture.webp) center/cover no-repeat rgb(231, 230, 230);
    border-radius: 100px;
    height: 300px;
    border: 2px solid rgb(65, 113, 156);
    
}

aside {
    grid-area: aside;    
    border-radius: 100px;
    background-color: rgb(91, 155, 213);
    margin: 20px 10px;
    border: 2px solid rgb(65, 113, 156);


}

nav ul {
    list-style-type: none;
    overflow: hidden;
    width: 50%;
    margin: 50px auto;

}

nav ul li {
    margin: 10px;
    padding: 5px auto;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;  
    background-color: aqua;  
} 

nav ul li a {
    display: block;
    text-decoration: none;
    margin: 10px auto;
    padding: 5px auto;
    color: black;
    
}

form {    
    width:min-content;
    padding: 10px 0;
    margin: 10px auto;

}
.formdiv {
    margin: 10px;
}

.subformdiv{
    margin: 10px;
}

#submitdiv {
    text-align: center;
}

#submitgomb {
    width: 120px;
    height: 40px;    
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    font-size: 20px;
    
}

section {
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(65, 113, 156);
    
}

h2 {
    padding: 0 0 0 50px;
    font-style: italic;
    font-size: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

#betumeret {
    font-size: 1.2rem;
}

#s1 {
    grid-area: section1;
    background-color: rgb(251, 229, 214);
    margin: 20px 10px 10px 10px;

}

#s2 {
    grid-area: section2;
    background-color: rgb(255, 242, 204);
}

#s3 {
    grid-area: section3;
    background-color: rgb(222, 235, 247);
}

label {
    font-size: 1.2rem;

}

legend {
    font-size: 1.2rem;
}

img {
   width: 100%;
   border-radius: 10px;
   
}

figure {
    float:left;
    width: 50%;
    height: auto;
    margin: 0 10px 0 0;
}

footer {
    grid-area: footer;
    border-radius: 100px;
    background-color: rgb(231, 230, 230);
    height: 300px;
    border: 2px solid rgb(65, 113, 156);
}

@media (max-width: 500px) {

    * {
        font-size: 12px;
    }

    #container {
       
        grid-template-columns: 1fr;        
        grid-template-areas: 
        'header'
        'aside'
        'section1'
        'section2'
        'section3'
        'footer';  
    }   
}